head{
    font-family: Verdana;
}

body{
    font-family: Verdana;
}

h1 {
    color: #55dab3;
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px #1e1e1e;
}

a:link, a:visited{
    font-weight: bold;
    color: #969496;
    font-size: 14px;
}
a:hover, a:active{
    font-weight: bold;
    color: #965d24;
    font-size: 14px;
}


h2 {
    color: #394d93;
    font-size: 20px;
    text-align: center;
}

p{
    font-style: italic;
    font-size: 14px;
}

table{
    font-size: 12px;
    color: #787878;
    border-collapse: collapse;
    text-align: left;
    margin: 20px auto;
}

#tabTitle{
    background-color: #5cc3b2;
    color: #f6f6f6;
    font-weight: bold;
    text-align: left;
}

#tabLink{
    font-size: 12px;
    color: #787878
}

th{
    border-bottom: 2px solid #b3b4a2;
}

td,th{
    padding: 5px;
}

td,tr,th{
    width: auto !important;
}

tr:nth-child(even) td
{ background: #e6e7d2; }


footer{
    font-weight: bolder;
    font-style: italic;
    font-size: 12px;
}